body {
  font-family: Arial;
  background: #eef2f3;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
